In [42]:
#Bailey Sanden 
#Data Science Assignment 5
#H12454
#dataloading
import pandas as pd
  
# reading two csv files
data1 = pd.read_csv('bmx_j.csv')
data2 = pd.read_csv('demo_j.csv')
data3 = pd.read_csv('dpq_j.csv')
data4 = pd.read_csv('inq_j.csv')
data5 = pd.read_csv('mcq_j.csv')
data6 = pd.read_csv('pfq_j.csv')
  
# using merge function by setting how='inner'
output1 = pd.merge(data1, data2, 
                   on='SEQN', 
                   how='inner')
output2 = pd.merge(output1, data3, 
                   on='SEQN', 
                   how='inner')
output3 = pd.merge(output2, data4, 
                   on='SEQN', 
                   how='inner')
output4 = pd.merge(output3, data5, 
                   on='SEQN', 
                   how='inner')
output5 = pd.merge(output4, data6, 
                   on='SEQN', 
                   how='inner')
  

df = pd.DataFrame(output5)
df.to_csv('merged_data.csv', index=False)
df.to_excel('merged_data.xlsx', index=False)

In [43]:
#data item selection according to certain conditions
import math
import pandas as pd

datafile = pd.read_excel("merged_data.xlsx")
datafile = pd.DataFrame(datafile)

# add new data
datafile['AGE_GROUP'] = datafile.apply(lambda row: 'Over 60' if row.RIDAGEYR > 60 else ('Between 30-60' if (row.RIDAGEYR >= 30 and row.RIDAGEYR <= 60) else 'Below 30'), axis=1) 
datafile['DPQ_total'] = datafile.DPQ010 + datafile.DPQ020 + datafile.DPQ030 + datafile.DPQ040 + datafile.DPQ050 + datafile.DPQ060 + datafile.DPQ070 + datafile.DPQ080 + datafile.DPQ090 + datafile.DPQ100

In [44]:
#filtering by age to look at those 60 and older 
print('Total participants: {}'.format(datafile.SEQN.count()))
datafile_age = datafile[datafile.RIDAGEYR.gt(60)]
print('Participants 60 and Older: {}'.format(datafile_age.SEQN.count()))

Total participants: 5533
Participants 60 and Older: 1882

In [45]:
# Filter by those 60 and older who completed the NHANES mental health depression screener 
datafile_age_mental = datafile_age[(datafile_age.DPQ010.lt(4)) & (datafile_age.DPQ020.lt(4)) & (datafile_age.DPQ030.lt(4))& (datafile_age.DPQ040.lt(4))& (datafile_age.DPQ050.lt(4))& (datafile_age.DPQ060.lt(4))& (datafile_age.DPQ070.lt(4))& (datafile_age.DPQ080.lt(4))& (datafile_age.DPQ090.lt(4))& (datafile_age.DPQ100.lt(4))]
datafile_age_mental['DPQ_total'] = datafile_age_mental.DPQ010 + datafile_age_mental.DPQ020 + datafile_age_mental.DPQ030 + datafile_age_mental.DPQ040 + datafile_age_mental.DPQ050 + datafile_age_mental.DPQ060 + datafile_age_mental.DPQ070 + datafile_age_mental.DPQ080 + datafile_age_mental.DPQ090 + datafile_age_mental.DPQ100
print('Participants 60 and Older Who Completed the Depression Screener: {}'.format(datafile_age_mental.SEQN.count()))

Participants 60 and Older Who Completed the Depression Screener: 1057

/var/folders/51/8f_9yt6d377dpd9ly5nbp2r00000gn/T/ipykernel_14206/1252682751.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datafile_age_mental['DPQ_total'] = datafile_age_mental.DPQ010 + datafile_age_mental.DPQ020 + datafile_age_mental.DPQ030 + datafile_age_mental.DPQ040 + datafile_age_mental.DPQ050 + datafile_age_mental.DPQ060 + datafile_age_mental.DPQ070 + datafile_age_mental.DPQ080 + datafile_age_mental.DPQ090 + datafile_age_mental.DPQ100

In [46]:
#Filter by those 60+ with depression screener completed by Female(2) and Male(1)gender 
datafile_age_mental_f = datafile_age_mental[datafile_age_mental.RIAGENDR.gt(1)]
print('Participants 60 and Older Who Completed the Depression Screener and are Female: {}'.format(datafile_age_mental_f.SEQN.count()))
datafile_age_mental_m = datafile_age_mental[datafile_age_mental.RIAGENDR.lt(2)]
print('Participants 60 and Older Who Completed the Depression Screener and are Male: {}'.format(datafile_age_mental_m.SEQN.count()))

Participants 60 and Older Who Completed the Depression Screener and are Female: 584
Participants 60 and Older Who Completed the Depression Screener and are Male: 473

In [47]:
# Filtered for only age and not including depression score 
datafile['AGE_GROUP'] = datafile.apply(lambda row: 'Over 60' if row.RIDAGEYR > 60 else ('Between 30-60' if (row.RIDAGEYR >= 30 and row.RIDAGEYR <= 60) else 'Below 30'), axis=1) 
print('Age Groups: \n{}'.format(datafile.AGE_GROUP.value_counts()))

Age Groups:
Between 30-60    2607
Over 60          1882
Below 30         1044
Name: AGE_GROUP, dtype: int64

In [48]:
#Data Normailzation and using drop na to handle missing data (1/2)
datafile['DPQ_total'] = datafile.DPQ010 + datafile.DPQ020 + datafile.DPQ030 + datafile.DPQ040 + datafile.DPQ050 + datafile.DPQ060 + datafile.DPQ070 + datafile.DPQ080 + datafile.DPQ090 + datafile.DPQ100

df_normalized = datafile.copy()
  
# apply normalization techniques
df_normalized['DPQ_total'] = df_normalized['DPQ_total']  / df_normalized['DPQ_total'].abs().max()
      
# view normalized data
print(df_normalized['DPQ_total'].dropna())

4       0.057143
5       0.028571
6       0.257143
7       0.057143
8       0.114286
          ...
5522    0.428571
5523    0.028571
5526    0.028571
5530    0.114286
5532    0.228571
Name: DPQ_total, Length: 3362, dtype: float64

In [49]:
#Do normalized data on some columns (2/2)
  
# apply normalization techniques
df_normalized['RIDAGEYR'] = df_normalized['RIDAGEYR']  / df_normalized['RIDAGEYR'].abs().max()
      
# view normalized data
print(df_normalized['RIDAGEYR'].dropna())

0       0.8250
1       0.2250
2       0.8250
3       0.9375
4       0.7000
         ...
5528    0.4125
5529    0.8750
5530    0.5250
5531    0.5125
5532    0.4750
Name: RIDAGEYR, Length: 5533, dtype: float64

In [50]:
# replace NaN with 0 for handling missing data
datafile_age_not_nan = datafile_age.fillna(0) 
print(datafile_age_not_nan)

        SEQN  BMDSTATS  BMXWT  BMIWT  BMXRECUM  BMIRECUM  BMXHEAD  BMIHEAD  \
0      93705         1   79.5    0.0       0.0       0.0      0.0      0.0
2      93708         1   53.5    0.0       0.0       0.0      0.0      0.0
3      93709         1   88.8    0.0       0.0       0.0      0.0      0.0
6      93713         1   74.9    0.0       0.0       0.0      0.0      0.0
8      93715         1   65.6    0.0       0.0       0.0      0.0      0.0
...      ...       ...    ...    ...       ...       ...      ...      ...
5514  102920         1   73.0    0.0       0.0       0.0      0.0      0.0
5518  102924         1  129.2    0.0       0.0       0.0      0.0      0.0
5525  102946         3   80.7    0.0       0.0       0.0      0.0      0.0
5526  102947         1   73.2    0.0       0.0       0.0      0.0      0.0
5529  102952         1   49.0    0.0       0.0       0.0      0.0      0.0

      BMXHT  BMIHT  ...  PFQ061S  PFQ061T  PFQ063A  PFQ063B  PFQ063C  PFQ063D  \
0     158.3    0.0  ...      1.0      1.0      0.0      0.0      0.0      0.0
2     150.2    0.0  ...      1.0      1.0     10.0     11.0     20.0      0.0
3     151.1    0.0  ...      1.0      2.0     10.0     14.0     20.0      0.0
6     178.6    0.0  ...      1.0      1.0     26.0      0.0      0.0      0.0
8     170.6    0.0  ...      2.0      3.0     10.0     11.0     19.0     21.0
...     ...    ...  ...      ...      ...      ...      ...      ...      ...
5514  159.6    0.0  ...      1.0      2.0     10.0     11.0      0.0      0.0
5518  172.0    0.0  ...      2.0      2.0     10.0     16.0     17.0     19.0
5525  162.8    0.0  ...      1.0      1.0     11.0     16.0     17.0     20.0
5526  170.4    0.0  ...      1.0      1.0      0.0      0.0      0.0      0.0
5529  156.5    0.0  ...      1.0      1.0      0.0      0.0      0.0      0.0

      PFQ063E  PFQ090  AGE_GROUP  DPQ_total
0         0.0     2.0    Over 60        0.0
2         0.0     2.0    Over 60        0.0
3         0.0     1.0    Over 60        0.0
6         0.0     2.0    Over 60        9.0
8        26.0     2.0    Over 60        4.0
...       ...     ...        ...        ...
5514      0.0     2.0    Over 60        7.0
5518     26.0     1.0    Over 60        6.0
5525     26.0     2.0    Over 60        0.0
5526      0.0     2.0    Over 60        1.0
5529      0.0     2.0    Over 60        0.0

[1882 rows x 203 columns]

In [51]:
#descriptive statistics - sum, mean, median, std, var, min, max
print("Number of non-null vlaues in each column:\n", datafile.count())
print("max of columns:\n", datafile.max())
print("min of columns:\n", datafile.min())
print("mean of columns:\n", datafile.mean())
print("median of columns:\n", datafile.median())
print("SD of columns:\n", datafile.std())
print("Variance of columns:\n", datafile.var())
print("correlation of columns:\n", datafile.corr())

Number of non-null vlaues in each column:
 SEQN         5533
BMDSTATS     5533
BMXWT        5444
BMIWT         234
BMXRECUM        0
             ...
PFQ063D       729
PFQ063E       484
PFQ090       5265
AGE_GROUP    5533
DPQ_total    3362
Length: 203, dtype: int64
max of columns:
 SEQN          102956
BMDSTATS           4
BMXWT          242.6
BMIWT            4.0
BMXRECUM         NaN
              ...
PFQ063D         28.0
PFQ063E         28.0
PFQ090           2.0
AGE_GROUP    Over 60
DPQ_total       35.0
Length: 203, dtype: object
min of columns:
 SEQN            93705
BMDSTATS            1
BMXWT            32.6
BMIWT             1.0
BMXRECUM          NaN
               ...
PFQ063D          10.0
PFQ063E          10.0
PFQ090            1.0
AGE_GROUP    Below 30
DPQ_total         1.0
Length: 203, dtype: object
mean of columns:
 SEQN         98275.674679
BMDSTATS         1.138261
BMXWT           82.468993
BMIWT            3.000000
BMXRECUM              NaN
                 ...
PFQ063C         19.018701
PFQ063D         20.589849
PFQ063E         22.262397
PFQ090           1.876923
DPQ_total        5.283165
Length: 202, dtype: float64
median of columns:
 SEQN         98257.0
BMDSTATS         1.0
BMXWT           78.9
BMIWT            3.0
BMXRECUM         NaN
              ...
PFQ063C         18.0
PFQ063D         20.0
PFQ063E         21.0
PFQ090           2.0
DPQ_total        4.0
Length: 202, dtype: float64
SD of columns:
 SEQN         2685.591411
BMDSTATS        0.515352
BMXWT          22.980417
BMIWT           0.424567
BMXRECUM             NaN
                ...
PFQ063C         4.945879
PFQ063D         4.549539
PFQ063E         4.537781
PFQ090          0.328557
DPQ_total       4.821800
Length: 202, dtype: float64
Variance of columns:
 SEQN         7.212401e+06
BMDSTATS     2.655875e-01
BMXWT        5.280996e+02
BMIWT        1.802575e-01
BMXRECUM              NaN
                 ...
PFQ063C      2.446172e+01
PFQ063D      2.069830e+01
PFQ063E      2.059146e+01
PFQ090       1.079495e-01
DPQ_total    2.324976e+01
Length: 202, dtype: float64

/var/folders/51/8f_9yt6d377dpd9ly5nbp2r00000gn/T/ipykernel_14206/748349797.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("mean of columns:\n", datafile.mean())
/var/folders/51/8f_9yt6d377dpd9ly5nbp2r00000gn/T/ipykernel_14206/748349797.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("median of columns:\n", datafile.median())
/var/folders/51/8f_9yt6d377dpd9ly5nbp2r00000gn/T/ipykernel_14206/748349797.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("SD of columns:\n", datafile.std())
/var/folders/51/8f_9yt6d377dpd9ly5nbp2r00000gn/T/ipykernel_14206/748349797.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Variance of columns:\n", datafile.var())

correlation of columns:
                SEQN  BMDSTATS     BMXWT     BMIWT  BMXRECUM  BMIRECUM  \
SEQN       1.000000  0.002342  0.016065  0.124794       NaN       NaN
BMDSTATS   0.002342  1.000000  0.100936 -0.317909       NaN       NaN
BMXWT      0.016065  0.100936  1.000000 -0.037942       NaN       NaN
BMIWT      0.124794 -0.317909 -0.037942  1.000000       NaN       NaN
BMXRECUM        NaN       NaN       NaN       NaN       NaN       NaN
...             ...       ...       ...       ...       ...       ...
PFQ063C    0.019163 -0.001998  0.027533  0.036273       NaN       NaN
PFQ063D   -0.001922 -0.001819  0.001531  0.006723       NaN       NaN
PFQ063E    0.043678 -0.056196 -0.042405  0.188351       NaN       NaN
PFQ090    -0.010143 -0.240723 -0.070761 -0.043792       NaN       NaN
DPQ_total -0.001773  0.043492  0.058251 -0.156503       NaN       NaN

           BMXHEAD  BMIHEAD     BMXHT     BMIHT  ...   PFQ061R   PFQ061S  \
SEQN           NaN      NaN  0.019433  0.044102  ...  0.035703  0.010566
BMDSTATS       NaN      NaN -0.040197 -0.546869  ...  0.188321  0.107090
BMXWT          NaN      NaN  0.436287  0.139049  ...  0.012551  0.013815
BMIWT          NaN      NaN -0.010088  0.440732  ... -0.091786  0.027336
BMXRECUM       NaN      NaN       NaN       NaN  ...       NaN       NaN
...            ...      ...       ...       ...  ...       ...       ...
PFQ063C        NaN      NaN  0.009369 -0.051084  ... -0.068453 -0.049779
PFQ063D        NaN      NaN -0.023176  0.285556  ... -0.030324  0.013541
PFQ063E        NaN      NaN -0.079834  0.269272  ... -0.096726  0.018008
PFQ090         NaN      NaN  0.047691 -0.118226  ... -0.329664 -0.201401
DPQ_total      NaN      NaN -0.045076 -0.001286  ...  0.295337  0.247575

            PFQ061T   PFQ063A   PFQ063B   PFQ063C   PFQ063D   PFQ063E  \
SEQN       0.022162  0.002460 -0.019955  0.019163 -0.001922  0.043678
BMDSTATS   0.220282  0.010158 -0.006808 -0.001998 -0.001819 -0.056196
BMXWT      0.016873 -0.059513  0.020034  0.027533  0.001531 -0.042405
BMIWT     -0.016150 -0.251499  0.011602  0.036273  0.006723  0.188351
BMXRECUM        NaN       NaN       NaN       NaN       NaN       NaN
...             ...       ...       ...       ...       ...       ...
PFQ063C   -0.091695  0.024814  0.283201  1.000000  0.261388  0.141758
PFQ063D   -0.046312 -0.008132  0.058906  0.261388  1.000000  0.424993
PFQ063E   -0.008333 -0.125465  0.036981  0.141758  0.424993  1.000000
PFQ090    -0.443455  0.090023  0.115442  0.099201  0.099431  0.123608
DPQ_total  0.226688 -0.120795 -0.065571 -0.137972 -0.055605 -0.057494

             PFQ090  DPQ_total
SEQN      -0.010143  -0.001773
BMDSTATS  -0.240723   0.043492
BMXWT     -0.070761   0.058251
BMIWT     -0.043792  -0.156503
BMXRECUM        NaN        NaN
...             ...        ...
PFQ063C    0.099201  -0.137972
PFQ063D    0.099431  -0.055605
PFQ063E    0.123608  -0.057494
PFQ090     1.000000  -0.224827
DPQ_total -0.224827   1.000000

[202 rows x 202 columns]

In [52]:
import numpy as np
# apply a function on each column
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
newdf = df.select_dtypes(include=numerics)
print(newdf.apply(np.mean))

SEQN        98275.674679
BMDSTATS        1.138261
BMXWT          82.468993
BMIWT           3.000000
BMXRECUM             NaN
                ...
PFQ063B        16.469388
PFQ063C        19.018701
PFQ063D        20.589849
PFQ063E        22.262397
PFQ090          1.876923
Length: 201, dtype: float64

In [53]:
# apply a function on each row
newdf.apply(np.mean, axis=1)

0        827.552600
1       1647.274595
2        900.187716
3        961.946895
4       1037.338420
           ...
5528    1486.509718
5529    1053.681722
5530    1928.549845
5531    1051.552717
5532    1369.857596
Length: 5533, dtype: float64

In [54]:
#remove rows with missing data 
#drop all rows with null values
datafile_nona= datafile.dropna()
datafile_nona

#the combined data contains many varibales which are all missing some data so this works

Empty DataFrame
Columns: [SEQN, BMDSTATS, BMXWT, BMIWT, BMXRECUM, BMIRECUM, BMXHEAD, BMIHEAD, BMXHT, BMIHT, BMXBMI, BMXLEG, BMILEG, BMXARML, BMIARML, BMXARMC, BMIARMC, BMXWAIST, BMIWAIST, BMXHIP, BMIHIP, SDDSRVYR, RIDSTATR, RIAGENDR, RIDAGEYR, RIDAGEMN, RIDRETH1, RIDRETH3, RIDEXMON, RIDEXAGM, DMQMILIZ, DMQADFC, DMDBORN4, DMDCITZN, DMDYRSUS, DMDEDUC3, DMDEDUC2, DMDMARTL, RIDEXPRG, SIALANG, SIAPROXY, SIAINTRP, FIALANG, FIAPROXY, FIAINTRP, MIALANG, MIAPROXY, MIAINTRP, AIALANGA, DMDHHSIZ, DMDFMSIZ, DMDHHSZA, DMDHHSZB, DMDHHSZE, DMDHRGND, DMDHRAGZ, DMDHREDZ, DMDHRMAZ, DMDHSEDZ, WTINT2YR, WTMEC2YR, SDMVPSU, SDMVSTRA, INDHHIN2, INDFMIN2, INDFMPIR, DPQ010, DPQ020, DPQ030, DPQ040, DPQ050, DPQ060, DPQ070, DPQ080, DPQ090, DPQ100, INQ020, INQ012, INQ030, INQ060, INQ080, INQ090, INQ132, INQ140, INQ150, IND235, INDFMMPI, INDFMMPC, INQ300, IND310, INQ320, MCQ010, MCQ025, MCQ035, MCQ040, MCQ050, AGQ030, MCQ053, MCQ080, MCQ092, ...]
Index: []

[0 rows x 203 columns]

In [55]:
#replacing nan with the column mean
#some will remain blank because there is not data 
datafile_fill = datafile.fillna(df.mean())
datafile_fill

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,PFQ061S,PFQ061T,PFQ063A,PFQ063B,PFQ063C,PFQ063D,PFQ063E,PFQ090,AGE_GROUP,DPQ_total
0,93705,1,79.5,3.0,NaN,NaN,NaN,NaN,158.3,2.68,...,1.000000,1.000000,15.360671,16.469388,19.018701,20.589849,22.262397,2.000000,Over 60,NaN
1,93706,1,66.3,3.0,NaN,NaN,NaN,NaN,175.7,2.68,...,1.151789,1.894471,15.360671,16.469388,19.018701,20.589849,22.262397,1.876923,Below 30,NaN
2,93708,1,53.5,3.0,NaN,NaN,NaN,NaN,150.2,2.68,...,1.000000,1.000000,10.000000,11.000000,20.000000,20.589849,22.262397,2.000000,Over 60,NaN
3,93709,1,88.8,3.0,NaN,NaN,NaN,NaN,151.1,2.68,...,1.000000,2.000000,10.000000,14.000000,20.000000,20.589849,22.262397,1.000000,Over 60,NaN
4,93711,1,62.1,3.0,NaN,NaN,NaN,NaN,170.6,2.68,...,1.151789,1.894471,15.360671,16.469388,19.018701,20.589849,22.262397,2.000000,Between 30-60,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,102949,1,76.9,3.0,NaN,NaN,NaN,NaN,180.1,2.68,...,1.151789,1.894471,15.360671,16.469388,19.018701,20.589849,22.262397,2.000000,Between 30-60,NaN
5529,102952,1,49.0,3.0,NaN,NaN,NaN,NaN,156.5,2.68,...,1.000000,1.000000,15.360671,16.469388,19.018701,20.589849,22.262397,2.000000,Over 60,NaN
5530,102953,1,97.4,3.0,NaN,NaN,NaN,NaN,164.9,2.68,...,1.151789,1.894471,15.360671,16.469388,19.018701,20.589849,22.262397,2.000000,Between 30-60,4.0
5531,102954,1,69.1,3.0,NaN,NaN,NaN,NaN,162.6,2.68,...,1.000000,2.000000,28.000000,16.469388,19.018701,20.589849,22.262397,2.000000,Between 30-60,NaN
5532,102956,1,111.5,3.0,NaN,NaN,NaN,NaN,175.8,2.68,...,1.000000,2.000000,10.000000,17.000000,28.000000,20.589849,22.262397,2.000000,Between 30-60,8.0